* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #000;
}

canvas {
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

header,
main,
footer {
    position: absolute;
    width: 100%;
    padding: 18px;
}

header {
    top:0;
    line-height: 30px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        1px 0 0 #000,
        -1px 0 0 #000,
        0 1px 0 #000,
        0 -1px 0 #000;
}

header > h1 {
    font-size: 30px;
}
header > h2 {
    font-size: 20px;
}

.icon {
    padding-right: 8px;
    font-size: 24px;
    line-height: 24px;
    color: #FFF;
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}
