.blinking {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
}

@-moz-keyframes blink {
    from, to {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
}

@-ms-keyframes "blink" {
    from, to {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
}

@-o-keyframes "blink" {
    from, to {
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
}
