* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 700;
    src: local('Share Tech'), local('Share-Tech'), url(fonts/ShareTech-Regular.ttf) format('truetype');
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 18px;
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
    color: #FFF;
    background-color: #000;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

header,
main,
footer {
    position: relative;
    width: 100%;
    line-height: 30pt;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.8);
}

header > h1 {
    font-size: 30pt;
}
main > h2 {
    font-size: 20pt;
    height: 40px;
}

.icon {
    position: relative;
    padding-right: 8px;
    font-size: 24pt;
    color: #FFF;
    text-decoration: none;
    -webkit-transition: transform 0.15s ease-out;
       -moz-transition: transform 0.15s ease-out;
        -ms-transition: transform 0.15s ease-out;
            transition: transform 0.15s ease-out;
}

.icon:hover {
    transform: translate(0pt, 2pt);
}

.left {
    float: left;
}

.right {
    float: right;
}
